# Environnements virtuels
env/
venv/
.venv/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Logs et pid
*.log
*.pid
*.sock

# Fichiers de configuration de l’IDE
.vscode/
.idea/

# Mac OS
.DS_Store

# Pytest cache
.pytest_cache/

# SQLite database
*.db
*.sqlite3

# Fichiers secrets ou tokens
*.env

# Cache pip
pip-wheel-metadata/

# Jupyter Notebook
.ipynb_checkpoints/